{% extends 'base.html' %}
{% load static %}

{% block content %}
<header id="home">
    <div class="profile-header">
        <img src="{% static 'images/profile.jpg' %}" alt="Cardoso Matine" class="profile-pic">
        <div class="hero-text">
            <h1>Hi, my name is Cardoso</h1>
                         
            <div class="typewriter">
                I'm a <span  style="
                background: linear-gradient(90deg,rgb(17, 3, 32),rgb(11, 33, 158), #ff1e56);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
              "id="typewriter" class="typewriter-text"></span>
            </div>
            <p>I'm a full-stack developer with experience in building scalable applications. I develop APIs using Python, Django, and Django REST Framework, with MySQL database integrations. On the frontend, I create dynamic and responsive interfaces with React and Next.js, delivering smooth user experiences. I also work with tools such as Git and Docker. I'm looking for projects where I can implement effective and impactful technical solutions.</p>
            <div>
                <a href="{% static 'Cardoso_Matine_Software_Developer_Resume_2025.pdf' %}" target="_blank" download="Cardoso_Matine_Software_Developer_Resume_2025" class="btn">My CV</a>
                <a href="#contact" class="btn">Contact</a>
            </div>
        </div>
    </div>
</header>

<section class="timeline-section">
    <div class="timeline">
        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-year">2021</div>
            <div class="timeline-content">
                My first "Hello World" in Python marked the beginning of a journey of learning and growth in programming
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-year">2022</div>
            <div class="timeline-content">
                I deepened my studies and worked as an apprentice at UP, focusing on programming and networking.
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-year">2023</div>
            <div class="timeline-content">
                I started my degree in Computer and Telecommunications Engineering.
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-year">2024</div>
            <div class="timeline-content">
                I started building personal web projects and advanced in backend development.
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-year">2025</div>
            <div class="timeline-content">
                Worked as a Python developer at BetrBeta, gaining hands-on experience and solidifying my role as a backend programmer.
            </div>
        </div>
    </div>
</section>


<section id="skills" class="skills-section">
    <h2 class="section-title">My technical  skills</h2>
    <div class="skills-container">
        <div class="skill-item">
            <i class="fab fa-python skill-icon"></i>
            <span class="skill-name">Python</span>
        </div>
        <div class="skill-item">
            <i class="fas fa-server skill-icon"></i>
            <span class="skill-name">Django</span>
        </div>
        <div class="skill-item">
            <i class="fas fa-code skill-icon"></i>
            <span class="skill-name">DRF</span>
        </div>
        <div class="skill-item">
            <i class="fab fa-js skill-icon"></i>
            <span class="skill-name">JavaScript</span>
        </div>
        <div class="skill-item">
            <i class="fab fa-html5 skill-icon"></i>
            <span class="skill-name">HTML5</span>
        </div>
        <div class="skill-item">
            <i class="fab fa-css3-alt skill-icon"></i>
            <span class="skill-name">CSS3</span>
        </div>

        <div class="skill-item">
            <i class="fab fa-react skill-icon"></i>
            <span class="skill-name">React</span>
        </div>

        <div class="skill-item">
            <i class="fab fa-code skill-icon"></i>
            <span class="skill-name">Next.js</span>
       </div>

        <div class="skill-item">
            <i class="fas fa-database skill-icon"></i>
            <span class="skill-name">MySQL</span>
        </div>
        
        <div class="skill-item">
            <i class="fab fa-git-alt skill-icon"></i>
            <span class="skill-name">Git</span>
        </div>
        <div class="skill-item">
            <i class="fab fa-github skill-icon"></i>
            <span class="skill-name">GitHub</span>
        </div>

        <div class="skill-item">
            <i class="fab fa-docker skill-icon"></i>
            <span class="skill-name">Docker</span>
        </div>
    </div>
</section>

<section id="projects">
    <h2 class="section-title">My projects</h2>
    <div class="projects-grid">
        
        <div class="project-card">
            <img src="{% static 'images/projects/projeto1.png' %}" alt="E-commerce Website" class="project-img">
            <div class="project-info">
                <h2>E-commerce Website</h2>
                <h3>Python | Django | JavaScript | HTML | CSS | </h3>
                <p>I developed a functional e-commerce prototype with an intuitive interface that allows users to browse products organized by categories, view details such as prices and technical specifications, and simulate purchases with a single click. </p>
                
                <p>The interface was designed to be clean and responsive, ensuring a good user experience. This project demonstrates my skills in implementing basic e-commerce logic and creating dynamic interactions.</p>
                <p>Automated deployment via Render – Every repository update is reflected on the site within minutes.</p>
                <p>Through this project, I applied practical concepts like programming logic for web development</p>

                <div class="project-links">
                    <a href="https://github.com/Cardoso-Matine/INTERACTIVE-STORE.git" target="_blank" class="project-link">
                        <i class="fab fa-github"></i> Code
                    </a>
                    <a href="https://interactive-store.onrender.com/" target="_blank" class="project-link">
                        <i class="fas fa-external-link-alt"></i> Demo
                    </a>
                    <h4>Important</h4>
                    <p>Note: This project may take up to 2 minutes to load initially 
                        as it's hosted on a free-tier platform.</p>
                </div>
            </div>
        </div>
        
        <div class="project-card">
            <img src="{% static 'images/projects/projeto2.png' %}" alt="Blog Platform" class="project-img">
            <div class="project-info">
                <h2>Employee Management System</h2>
                <h3>Python | Django | SQL | HTML | CSS | CRUD</h3>
                <p>I developed a employee management system using Python, Django, SQLite, and HTML/CSS. The application allows for the registration of new employees with details such as name and position, securely storing the data in a database. I implemented full CRUD functionality (Create, Read, Update, Delete), enabling users to add, view, update, and delete records as needed </p>
                <p>The system features an intuitive administrative interface and responsive design, built with custom CSS for improved usability. This project demonstrated my skills in database modeling with Django ORM, CRUD operations implementation, secure form validation, administrative interface development, and database migration management</p>
                <p>Note: The system was developed in Portuguese to meet the specific needs of local businesses.</p>
                <div class="project-links">
                    <a href="https://github.com/Cardoso-Matine/Cadastro-de-Funcionario" target="_blank" class="project-link">
                        <i class="fab fa-github"></i> Code
                    </a>
                    <a href="https://cadastro-de-funcionario.onrender.com/" target="_blank" class="project-link">
                        <i class="fas fa-external-link-alt"></i> Demo
                    </a>
                    <h4>Important</h4>
                    <p>Note: This project may take up to 2 minutes to load initially 
                        as it's hosted on a free-tier platform.</p>
                </div>
            </div>
        </div>
    
        <div class="project-card">
            <img src="{% static 'images/projects/projeto3.png' %}" alt="Blog Platform" class="project-img">
            <div class="project-info">
                <h2>Web translator</h2>
                <h3>Python | Django | SQL | HTML | CSS | JavaScript | MyMemory Translation API</h3>
                <p>A multilingual web translation application developed with Python, Django, and the MyMemory API, enabling translations between 10 languages (English, Portuguese, Spanish, French, German, Italian, Japanese, Russian, Chinese, and Arabic). Features a responsive interface built with HTML5, CSS3, and JavaScript, REST API integration, asynchronous request handling, and dark/light mode theming. Configured for deployment with Gunicorn and WhiteNoise, following web development best practices. Complete project includes Django routing, dynamic templates, DOM manipulation via JS, and localStorage preference storage. Ideal for demonstrating full-stack skills with a focus on Python backend and third-party API integration</p>

                <div class="project-links">
                    <a href="https://github.com/Cardoso-Matine/TRANSLATOR" target="_blank" class="project-link">
                        <i class="fab fa-github"></i> Code
                    </a>
                    <a href="https://translatorweb.pythonanywhere.com" target="_blank" class="project-link">
                        <i class="fas fa-external-link-alt"></i> Demo
                    </a>
                </div>
            </div>
        </div>

        <div class="project-card">
            <img src="{% static 'images/projects/projeto4.png' %}" alt="Blog Platform" class="project-img">
            <div class="project-info">
                <h2>Calculator</h2>
                <h3>  Next.js| React| CSS| JavaScript  </h3>
                <p>A simple yet powerful calculator application built with React and Next.js, featuring all basic arithmetic operations (addition, subtraction, multiplication, and division) with a clean, user-friendly interface. This project showcases my expertise in modern React development including component-based architecture, efficient state management using hooks, and responsive CSS design principles. The calculator includes practical features like backspace functionality and display overflow protection, demonstrating attention to real-world usability. Built with performance in mind using Next.js, the application offers instant calculations with zero external dependencies. This project highlights my ability to create functional, well-structured web applications from scratch while following best practices in frontend development.  </p>
                
                <div class="project-links">
                    <a href="https://github.com/Cardoso-Matine/calculator" target="_blank" class="project-link">
                        <i class="fab fa-github"></i> Code
                    </a>
                    <a href="https://calculator-kappa-henna.vercel.app/" target="_blank" class="project-link">
                        <i class="fas fa-external-link-alt"></i> Demo
                    </a>
                </div>
            
            </div>
        </div>

        <div class="project-card">
            <img src="{% static 'images/projects/projeto5.png' %}" alt="Blog Platform" class="project-img">
            <div class="project-info">
                <h2>currency converter</h2>
                <h3>Coming soon! In development</h3>
                <!-- 
                <div class="project-links">
                    <a href="wait for the link" target="_blank" class="project-link">
                        <i class="fab fa-github"></i> Code
                    </a>
                    <a href="wait for the link" target="_blank" class="project-link">
                        <i class="fas fa-external-link-alt"></i> Demo
                    </a>
                </div>
                -->
            </div>
        </div>

    </div>

</section>


        
<section id="hire-me" class="dark-section">
    <div class="cta-container">
        <h2>Need a developer?</h2>
        <a href="#contact" class="btn btn-light">LET'S WORK TOGETHER →</a>
    </div>
</section>

<footer id="contact">
    <div class="contact-info">

        <div class="contact-item">
            <i class="fas fa-envelope"></i>
            <a href="mailto:cardoso.matine27@gmail.com">cardoso.matine27@gmail.com</a>
        </div>

        <div class="contact-item">
            <i class="fas fa-phone"></i>
            <span>+258 841898600</span>
        </div>

    </div>
    
    <div class="social-links">
        <a href="https://linkedin.com/in/cardoso-matine/" target="_blank" title="LinkedIn">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://wa.me/+258841898600" target="_blank" title="WhatsApp">
            <i class="fab fa-whatsapp"></i>
        </a>
        <a href="https://github.com//Cardoso-Matine/" target="_blank" title="GitHub">
            <i class="fab fa-github"></i>
        </a>
    </div>
</footer>

{% endblock %}